<div class="min-h-screen w-full flex flex-col items-center py-10">
  <div class="w-full max-w-2xl rounded-2xl shadow-lg p-8">
    <div class="mb-6">
      <h1 class="text-2xl font-bold text-base-900 dark:text-base-900">Nouvelle pratique</h1>
    </div>
    
    <%= render "form", practice: @practice, return_to: @return_to %>
  </div>
</div>
