
@layer components {
  /* Tabs inactifs */
  .tabs-lifted > .tab {
    border-color: theme('colors.error') !important;
    border-width: 2px;
    opacity: 0.6;
    border-radius: 10px 10px 0px 0px !important;
  }

  /* Tab actif */
  .tabs-lifted > .tab:checked {
    color: theme('colors.base.100') !important;
    border-color: theme('colors.error') !important;
    border-width: 4px !important;
    background-color: theme('colors.error') !important;
    font-weight: 700;
    opacity: 1;
    z-index: 10;
  }

  /* Contenu */
  .tab-content {
    border-width: 4px;
    border-color: theme('colors.error') !important;
    border-radius: 0px !important;

  }
  /* Supprimer la bordure/bande au-dessus des tabs */
  .tabs-lifted > input.tab:before {
    display: none !important;
  }
}
